@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  width: 100%;
  overflow: hidden;
}

.hero-section img {
  transform: translateX(-30px);
}

.section-2 {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
}

.section-2-card-img {
  width: 250px;
}

.section-2 p {
  font-size: 30px;
}

.section-3 {
  background-color: #d9d9d9;
  padding: 80px 0;
}

.section-3 img {
  width: 100%;
}

.section-3-content {
  padding: 0 20px;
}

.section-4 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px 0;
}

.section-4 img {
  width: 80%;
  margin: 0 auto;
}

.section-5 {
  gap: 30px;
  text-align: center;
  background-color: #d9d9d9;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-5 h1 {
  font-size: 45px;
}

.section-5 .description {
  font-size: 24px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.section-5 .author {
  color: #595959;
  font-size: 26px;
}

.section-6 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px 20px;
  gap: 30px;
}

.section-6 img {
  margin: 0 auto;
  width: 100%;
}
