*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root color */
:root{
    --blue-color: #213236;
}

/* Navbar */
.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}
.greyBox{
    background-color: rgb(183, 183, 183);
}
.greyBox img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.greyBox img:hover{
    transform: scale(1.1);
}
.btnWhite{
    width: 150px;
    height: 50px;
    border: 2px solid var(--blue-color);
}
.btnWhite:hover{
    background-color: var(--blue-color);
    color: white;
}

/* Footer */
i{
    font-size: 25px;
}
ul{
    list-style-type: none;
}
i:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
