*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

/* Root color */
:root{
    --blue-color: #213236;
}

/* Navbar */
.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* Main Image */
.mainImage{
    background-image: url('https://img1.wsimg.com/isteam/ip/eb4ce966-e3f0-4aa9-b0c9-5bcbb4d23dea/ols/W-S04%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.mainImage h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    line-height: 450px;
}

/* Content Image */
img{
    width: 300px;
    height: 350px;
    object-fit: cover;
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.item{
    margin-left: 65px;
}


/* Footer */
i{
    font-size: 25px;
}
ul{
    list-style-type: none;
}
i:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}




/* Media Query */
@media screen and (max-width: 768px) {
    .item{
        margin-left: 170px;
    }
    
}