*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

/* Root color */
:root{
    --blue-color: #213236;
}

 a, h6{
    text-decoration: none;
    /* text-decoration-line: none; */
    color: black;
}

.h1{
    overflow-wrap: break-word;
}

/* Navbar */
.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.card-img{
    height: 450px;
    object-fit: cover;
}

.card_title{
    font-family: "Abril Fatface", Georgia, serif;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 450px;
    font-size: 50px;
}

.mainImage h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    line-height: 450px;
}

/* Content Image */
img{
    width: 350px;
    height: 260px;
    object-fit: cover;
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.p{
    margin-top: 20px;
}

.t1{
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(89, 89, 89);
    line-height: 1.5;
    font-weight: 400;
    font-family: "Droid Sans", arial, sans-serif;
    cursor: pointer;
}

.t2{       
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 8px;
    color: rgb(27, 27, 27);
    text-align: left;
    overflow-wrap: break-word;
    font-family: "Droid Sans", arial, sans-serif;
    cursor: pointer;
}

.pr{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Droid Sans", arial, sans-serif;
}

.item{
    margin-left: 65px;
}

.btnn{
   margin-right: 50px;
}

/* Footer */
i{
    font-size: 25px;
}
ul{
    list-style-type: none;
}
i:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}



/* Media Query */
@media screen and (max-width: 768px) {
    .item{
        margin-left: 90px;
    }
}
