@media (min-width: 640px) {
  .hero-section {
    flex-direction: row;
    padding-bottom: 80px;
  }
  .hero-section-img-container .hero-top-arts {
    visibility: visible;
    height: 120px;
    width: 120px;
    left: -20px;
    bottom: -20px;
  }
  .hero-section-bulb {
    display: inline-block;
    width: 160px;
    left: 30px;
    bottom: -20px;
  }
  .section-1-sub-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .translate-x {
    transform: none;
  }
  .hero-section {
    padding: 40px;
    padding-bottom: 80px;
  }
  .hero-section-img-sub-container {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
  .hero-section-img-container .hero-top-arts {
    height: 180px;
    width: 180px;
    left: -60px;
    bottom: -50px;
  }
  .hero-section-bulb {
    width: 200px;
    left: 30px;
    bottom: -28px;
  }
  .section-1-img {
    width: 300px;
  }
  .section-1-sub-container {
    gap: 180px;
  }
}

@media (min-width: 1280px) {
  .hero-section {
    max-width: 1280px;
    padding-bottom: 100px;
    gap: 40px;
  }
  .hero-section-heading {
    font-size: 48px;
  }
  .hero-section-bulb {
    width: 250px;
    left: 60px;
    bottom: -32px;
  }
  .section-1-sub-container {
    max-width: 1280px;
  }
  .card-img-container {
    display: flex;
    align-items: flex-end;
  }
  .card-img-container h1 {
    font-size: 67px;
    flex: 1;
    margin: 0;
  }
  .card p {
    text-indent: 100px;
    margin-top: 70px;
  }
  .card-sub-img-container {
    width: fit-content;
  }
}
