@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.w-full {
  width: 100%;
}

.direction-flex-row-reverse {
  flex-direction: row-reverse;
}

.overflow-hidden {
  overflow: hidden;
}

.hero-section-container {
  background-color: #d9d9d9;
  position: relative;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.hero-section-heading {
  font-size: 38px;
  margin-top: 100px;
  max-width: 700px;
  text-align: center;
  padding: 20px;
}

.hero-section-img-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section-img-sub-container {
  overflow: hidden;
}

.hero-section-img-container .hero-img {
  height: auto;
  width: 100%;
}

.hero-section-img-container .hero-top-arts {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.hero-section-bulb {
  position: absolute;
  bottom: -40px;
  left: 60px;
  width: 300px;
  height: auto;
  display: none;
}

.section-1-container {
  background-color: rgba(48, 42, 84, 0.6);
}

.section-1-sub-container {
  display: flex;
  padding: 100px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.section-1-img {
  width: 200px;
}

.section-1-sub-container h1 {
  font-size: 41px;
  text-align: center;
  max-width: 730px;
}

.card {
  margin: 60px 0;
}

.card p,
.card h1 {
  padding: 0 20px;
}

.card h1 {
  font-size: 48px;
}

.translate-x {
  transform: translate(-200px);
}
