* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input {
    outline: 1px solid gray;
}

.buttons {
    padding: 10px 30px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    border: 2px solid gray;
    text-decoration: none;
    font-size: 13px;
    margin-left: 15px;
}

.buttons:hover {
    background-color: white;
    color: gray;
}

.round {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    margin: auto;
}
/* Footer */
i{
    font-size: 25px;
}
ul{
    list-style-type: none;
}
i:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
